

html{
    
}


body{
    background-color: hsl(220, 5%, 95%);
    padding: 0;
    margin: 0;
}

.stick{
    clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 0 75%);

    width: 10px;
    aspect-ratio: 1/4;
    background-color: hsl(220, 20%, 20%);
}
.circle-container{
    padding: 0;
    margin-top: 10vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;

    box-sizing: content-box;

    width: 250px;
    aspect-ratio: 1/1;
    
    border-radius: 100%;
    border: 25px solid hsl(220, 40%, 40%);

    background-color: hsl(220, 85%, 80%);

}

.circle{
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    width: 0;
    aspect-ratio: 1/1;
    border-radius: 100%;

    
    border-top: 125px  solid hsl(0, 80%, 70%); /* Blue */
    border-bottom: 125px  solid hsl(90, 80%, 70%); /* Blue */
    border-left: 125px  solid hsl(180, 80%, 70%); /* Blue */
    border-right: 125px solid hsl(270, 80%, 70%); /* Light grey */

    box-shadow: inset 0 0 10px #f8a100;
}
.circle-shadow{
    width: 250px;
    aspect-ratio: 1/1;
    
    transform: translateX(0%) translateY(0%);
    border-radius: 100%;

    background-color: transparent;
    box-shadow: inset 2px 2px 4px rgba(0,0,0, 0.5);
}
.circle-dot{
    width: 10px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    background-color: white;

    box-shadow: 1px 1px 2px rgba(0,0,0, 0.5);
}


.transition-ease{ 
    transition-delay: 0; 
    transition-duration: 2000ms;
    transition-timing-function: ease-in-out;
    transition-property: transform, translate, scale, rotate;
}

.spin{
    transform: rotate(0.5turn);
}

button {
  all: unset;
}

button:focus {
  outline: revert;
}
button:focus-visible {
  outline: revert;
}

.button {
  user-select: none;
  cursor: pointer;
  -webkit-user-select: none;

  font-variant-caps: small-caps;
  text-align: center;

  vertical-align: middle;

  align-items: center;
  align-content: center;

  white-space: nowrap;

  transition: color 100ms ease-in-out, background-color 100ms ease-in-out, border-color 100ms ease-in-out, box-shadow 100ms ease-in-out;
}

.wheel-button-container{
    
    position: relative;
    box-sizing: content-box;
}

.wheel-button{
    font-size: 1.5rem;
    font-weight: 500;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;

    background-color: hsl(220, 80%, 80%);    

    padding: 12px 24px;
    border-radius: 48px;
    border: 2px solid hsl(220, 80%, 40%);

    box-shadow: 4px 4px 8px rgba(0,0,0, 0.5);
}
.wheel-button.active{
    margin: 8px 6px;
    border: 1px solid hsl(220, 80%, 40%);
    box-shadow: 1px 1px 2px rgba(0,0,0, 0.5);
}

.text{
   font-weight: 500;
   font-size: 1.25rem;
}

.rotate-0 {rotate: 0deg;}
.rotate-30 {rotate: 30deg;}
.rotate-60 {rotate: 60deg;}
.rotate-90 {rotate: 90deg;}
.rotate-120 {rotate: 120deg;}
.rotate-150 {rotate: 150deg;}
.rotate-180 {rotate: 180deg;}
.rotate-210 {rotate: 210deg;}
.rotate-240 {rotate: 240deg;}
.rotate-270 {rotate: 270deg;}
.rotate-300 {rotate: 300deg;}
.rotate-330 {rotate: 330deg;}